@page "/remove/{id}"
@using Microsoft.EntityFrameworkCore
@using BlazorApp3.Data
@using BlazorApp3.Models

@rendermode InteractiveServer

@implements IAsyncDisposable
@inject IDbContextFactory<StorageContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Remove machine</PageTitle>

<h3>Remove machine</h3>

<div>Are you sure you want to remove machine @Id?</div>
<button @onclick="Submit">Yes</button>
<a href="/">Back to dashboard</a>

@code {

    private StorageContext context = default!;

    [Parameter]
    public string Id { get; set; }


    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    private async Task Submit()
    {
        var m = await context.Machine.FindAsync(Id);
        context.Machine.Remove(m);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/");
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}



























