@page "/send/{id}"
@using Microsoft.EntityFrameworkCore
@using BlazorApp3.Data
@using BlazorApp3.Models

@implements IAsyncDisposable
@inject IDbContextFactory<StorageContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Send</PageTitle>

<h3>Send data to machine</h3>

<div></div>

<EditForm FormName="Send" Model="this" OnSubmit="Submit">
    <label>Enter data:</label>
    <InputText @bind-Value="Data" />
    <button type="submit">Submit</button>
</EditForm>

<a href="/">Back to dashboard</a>


@code {

    private StorageContext context = default!;

    [SupplyParameterFromForm]
    private string? Data { get; set; }

    [Parameter]
    public string Id { get; set; }

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    private async Task Submit()
    {

        var m = await context.Machine.FindAsync(Id);
        m.Datato = Data;
        context.Machine.Update(m);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/");
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}



